/* Use to declare common attributes */
:root {
    --light-theme: #00ffff;
    --white-text: #f0f8ff;
    --bolder-text: bolder;
}   

* {
    font-family:fantasy;
    font-size: large;
    color: var(--white-text);
    font-weight: bolder;
}
/* Apply styles to my header */
header {
    display: flex;
    flex-flow: row wrap;
    border: 2px;
    border: 2px solid var(--light-theme);
    justify-content: center;
    border-radius: 5px 5px;
    font-weight: var(--bolder-text);
}
/* Apply styles to the body of the page */
body {
    background: rgb(137,33,228);
    background: linear-gradient(90deg, rgba(137,33,228,1) 16%, rgba(134,37,228,1) 30%, rgba(106,74,228,1) 51%, rgba(96,87,228,1) 82%, rgba(66,127,228,1) 99%, rgba(33,171,228,1) 100%, rgba(0,212,255,1) 100%);
    font-weight: var(--bolder-text);
}

#page-content {
    display: flex;
    flex-flow:row wrap;
    flex: 0 0 100%;
}
/* Apply styles to my background section */
#background {
    display:inline-flex;
    flex: 0 0 40%;
    border: 2px solid var(--light-theme);
    align-items: center;
    border-radius: 5px 5px;
    margin: 2% 55% 2% 0%;
}

#background section {
    display: flex;
    align-items: center;
}

#background p {
    display: inline;
}
/* Apply styles to my background section image */
#background img {
    width: 20%;
    height: 20%;
    vertical-align: middle;

    
}
/* Apply styles to my skills section */
#skills {
    display: inline-flex;
    flex: 0 0 40%;
    border: 2px solid var(--light-theme);
    align-items: center;
    border-radius: 5px 5px;
    margin: 2% 0% 2% 59%;
}

#skills article {
    display: flex;
    align-items: center;
}

#skills h2 {
    display: inline;
}

#skills li {
    display: inline;
}

#skills img {
    display: inline;
    width: 40%;
    height: 40%;

}

/* Apply styles to my portfolio section */
#portfolio {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 90%;
    border: 2px solid var(--light-theme);
    justify-content: center ;
    border-radius: 5px 5px;
    margin: 0 2%;
}

/* Apply styles to my portfolio section image */
#portfolio img {
    flex: 0 0 100%;
    justify-content: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid var(--light-theme);
    margin: 2%
}