/* Use to declare common attributes */
:root {
  --light-theme: #fffb00;
  --white-text: #f0f8ff;
  --bolder-text: bolder;
}

* {
  font-family: cursive;
  font-size: large;
  color: var(--white-text);
  font-weight: bolder;
}
/* Apply styles to my header */
header {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid var(--light-theme);
  justify-content: center;
  border-radius: 5px 5px;
  font-weight: var(--bolder-text);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(500px);
  margin: 0% 45%;
}
/* Apply styles to the body of the page */
body {
  background: rgb(137, 33, 228);
  background: linear-gradient(
    90deg,
    rgba(137, 33, 228, 1) 16%,
    rgba(134, 37, 228, 1) 30%,
    rgba(106, 74, 228, 1) 51%,
    rgba(96, 87, 228, 1) 82%,
    rgba(66, 127, 228, 1) 99%,
    rgba(33, 171, 228, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  font-weight: var(--bolder-text);
}

#page-content {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
}
/* Apply styles to my background section */
#background {
  display: flex;
  flex: 0 0 45%;
  border: 2px solid var(--light-theme);
  align-items: center;
  border-radius: 5px 5px;
  margin: 2% 55% 2% 0%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(500px);
}

.glow:hover {
  color: #7a00c0;
  box-shadow: 0px 0px 30px #fff;
}

#background section {
  display: flex;
  align-items: center;
}

/* Apply styles to my skills section */
#skills {
  flex: 0 0 45%;
  border: 2px solid var(--light-theme);
  align-items: center;
  border-radius: 5px 5px;
  margin: 2% 0% 2% 55%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(500px);
}

#skills article {
  display: flex;
  align-items: center;
}

#skills h2 {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 50%;
}

#skills ul {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 50%;
}

#skills li {
  display: flex;
  flex: 0 0 100%;
}

/* Apply styles to my portfolio section */
#portfolio {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  border: 2px solid var(--light-theme);
  border-radius: 5px 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(500px);
  justify-content: center;
}

#portfolio section {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
}

#portfolio h2 {
    display: flex;
    justify-content: center;
  flex: 0 0 100%;
}

#portfolio a {
    display: flex;
    justify-content: center;
}

/* Apply styles to my portfolio section image */
#portfolio img {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    height: 70%;
    width: 50%;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 2px solid var(--light-theme);
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(500px);
}

footer li {
  align-self: center;
  list-style: none;
  justify-content: center;
  margin: 2%;
}
